html, body, *{
  padding: 0;
  margin: 0;
  overscroll-behavior: none;
}
html, body{
  &::-webkit-scrollbar {
    width: 0px; 
  }
}
canvas {
  display: block;
}
.controls{
  position: fixed;
  top:10px;
  left: 10px;
  display: flex;
}